.front-page {
  section {
    margin: 0 0 20px 0;
  }

  h2 {
    margin: 15px 0;
    text-transform: uppercase;
    font-size: 24px;
  }

  &__welcome {
    background: #f3f3f3;
    padding: 35px;

    h3 {
      font-size: 48px;
      font-weight: 400;
    }

    &__section {
      font-size: 30px;
      margin: 20px 0 0 0;
      max-width: 800px;

      p {
        margin: 30px 0 30px 0;
        font-size: 14px;
        letter-spacing: 1px;
      }

      span {
        font-weight: 300;
        letter-spacing: 1px;
      }
    }

    &__button {
      border-radius: 0;
      background: #873075;
      padding: 10px 30px;
      border: 0;
      margin: 10px 0 0 0;
      font-size: 14px;
      color: #fff;

      &:hover {
        color: #fff;
        opacity: 0.8;
      }
    }
  }

  &__right-image {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  &__section2 {
    background: #f3f3f3;
    height: 260px;
    font-size: 14px;

    &__element {
      padding: 40px 0 0 60px;

      h3 {
        font-size: 48px;
      }

      p {
        margin: 20px 0 0 0;
        max-width: 210px;
      }
    }
  }

  &__section3 {
    background: #873075;
    height: 260px;

    p {
      color: #fff;
      font-size: 24px;
      padding: 38px 0 0 38px;
      max-width: 390px;
    }
  }

  &__section4 {
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    & > h3 {
      position: absolute;
      top: 70px;
      left: 70px;
      max-width: 480px;

      span {
        display: inline-block;
        padding: 4px 4px 4px 4px;
        background: #000;
        font-size: 48px;
        color: #fff;
        margin: 0 0 5px 0;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }

    .btn {
      display: inline-block;
      position: absolute;
      left: 70px;
      top: 230px;
    }

    &__projects {
      background: #863374;
      opacity: 0.8;
      position: absolute;
      right: 40px;
      top: 70px;
      max-width: 360px;
      height: 480px;
      color: #fff;

      h3 {
        font-size: 24px;
        margin: 30px;
        max-width: 240px;
        opacity: 1;
      }

      p {
        font-size: 14px;
        margin: 40px 0 0 0;
        padding: 0 40px 0 30px;
        opacity: 1;
      }

      &__arrows {
        float: right;

        img {
          border: 1px #fff solid;
          padding: 15px;
          margin: 0;
          display: inline;
        }
      }
    }
  }
}
