.contact-hotline {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: 165px;
  left: 50%;
  background: #f3f3f3;
  margin-bottom: 0;
  padding: 40px 0 40px 0;
  bottom: 10px;
  line-height: 24px;

  strong {
    font-weight: 700;
  }

  .col-md-11 {
    padding-left: 30px;
  }
}
