.image-module {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
  position: relative;
  margin: 35px 0;

  h3 {
    position: absolute;
    bottom: 30px;
    left: 40px;
    padding: 18px;
    color: #fff;
    background: #000;
    font-size: 30px;/* Approximation due to font substitution */
    font-weight: 700;
    line-height: 24px;/* Approximation due to font substitution */
    text-transform: uppercase;
  }
}
