$min-box-height: 420px;

.index-grid {
  h3 {
    margin: 10px 0 25px 0;
  }

  &__element1 {
    margin-bottom: 15px;

    &__rtl {
      margin-left: 0;
      margin-right: -30px;
    }

    .el1 {
      &__image {
        width: 100%;
        height: 100%;
        background-size: cover;
        min-height: $min-box-height;
      }
    }

    .el2 {
      display: block;
      background: #f3f3f3;

      &__content {
        padding: 25px;

        h3 {
          color: #b3b3b3;
          font-size: 48px;/* Approximation due to font substitution */
          font-weight: 700;
          text-align: left;
          margin: 0;
        }

        header {
          font-size: 24px;/* Approximation due to font substitution */
          font-weight: 400;
          text-align: left;
          max-width: 250px;
          margin: 20px 0 10px 0;
        }

        p {
          font-size: 16px;/* Approximation due to font substitution */
          font-weight: 400;
          text-align: left;
        }
      }
    }

    .ltr {
      margin-left: -15px;

      &::after,
      &::before {
        right: 100%;
        top: 12%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &::after {
        border-color: rgba(136, 183, 213, 0);
        border-right-color: #f3f3f3;
        border-width: 10px;
        margin-top: -10px;
      }
    }

    .rtl {
      margin-right: -15px;

      &::after,
      &::before {
        left: 100%;
        top: 12%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        z-index: 9999;
      }

      &::after {
        border-color: rgba(136, 183, 213, 0);
        border-left-color: #f3f3f3;
        border-width: 10px;
        margin-top: -10px;
      }
    }
  }

  &__element2 {
    width: 100%;
    height: 100%;
    background-size: cover;
    min-height: $min-box-height;
    padding: 40px;
    position: relative;

    &__content {
      position: absolute;
      bottom: 10px;
      color: #fff;
      font-size: 24px;/* Approximation due to font substitution */
      line-height: 30px;
      font-weight: 400;
      max-width: 280px;
    }
  }
}
