.product-traits {
  margin: 40px 0;
  background: #f3f3f3;
  padding: 0 0 30px 0;

  &__content {
    padding: 0 40px;

    ul {
      padding: 0;

      li {
        background: #ac719f;
        background: -moz-linear-gradient(top, #ac719f 0%, #863374 100%);
        background: -webkit-linear-gradient(top, #ac719f 0%, #863374 100%);
        background: linear-gradient(to bottom, #ac719f 0%, #863374 100%);
        margin: 1px 0;
        padding: 15px 20px;
        color: #fff;
        list-style-position: inside;
      }
    }
  }

  p {
    margin: 40px 0;
  }

  header {
    ul {
      flex-wrap: nowrap;
      display: flex;
      padding: 0;

      li {
        list-style-type: none;
        height: 70px;
        flex-basis: 50%;
        background: #863374;
        color: #fff;
        margin: 0;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 24px;
        padding-top: 25px;
        text-align: center;

        &:last-child() {
          background: #dbdbdb;
          color: #000;
        }
      }
    }
  }
}
