.products-documents {
  display: block;
  background: #f3f3f3;
  margin: 40px 0 0 0;
  padding-bottom: 5px;

  h3 {
    color: #fff;
    font-size: 14px;/* Approximation due to font substitution */
    font-weight: 700;
    text-align: left;
    background: #863374;
    display: block;
    padding: 25px 15px;
    text-transform: uppercase;
  }

  ul {
    padding: 0;
    margin: 20px;

    li {
      list-style-image: url(../images/docs_list.png);
      list-style-position: inside;
      font-size: 14px;/* Approximation due to font substitution */
      font-weight: 400;
      line-height: 30px;/* Approximation due to font substitution */

      a {
        color: #000;

        &:hover {
          color: #000;
        }
      }
    }
  }
}
