.products-menu {
  ul {
    padding: 0;

    li {
      list-style: none;
      background: #f3f3f3;
      color: #000;
      padding: 25px;
      border-bottom: 1px #d4dae4 solid;
      text-transform: uppercase;
      font-weight: 700;

      &:last-child {
        border: 0;
      }

      a {
        color: #000;
      }
    }

    .current-menu-item {
      background: #863374;

      a {
        color: #fff;
      }
    }
  }
}
