.single-project {
  display: block;
  width: 420px;
  height: 420px;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 8px;

  &__header {
    background: #863374;
    height: 80px;
    padding: 30px 0 0 45px;

    h4 {
      font-size: 24px;/* Approximation due to font substitution */
      font-weight: 700;
      line-height: 24px;/* Approximation due to font substitution */
      color: #fff;
      text-transform: uppercase;
    }
  }

  &__line {
    height: 10px;
    background: #863374;
    opacity: 0.6;
  }

  &__content {
    display: none;
    background: #fff;
    margin-top: -10px;
    height: 340px;
    padding: 50px 40px;
    border-width: 0 1px 1px 1px;
    border-color: #f3f3f3;
    border-style: solid;

    a {
      display: inline-block;
      margin-top: 45px;
    }
  }

  &__container {
    @include media-breakpoint-up(md) {
      margin-top: -200px;
    }
  }
}
