footer {
  background: #171714;
  color: #fff;
  min-height: 550px;
  padding: 0 0 20px 0;
  margin-top: 20px;

  hr {
    margin: 120px 0 60px 0;
    background: #494947;
    height: 1px;
    border: 0;
  }

  .widget {
    h3 {
      font-size: 14px;/* Approximation due to font substitution */
      font-weight: 400;
      line-height: 18px;/* Approximation due to font substitution */
      text-align: left;
      margin-bottom: 15px;
    }

    ul {
      margin: 0 !important;
      padding: 0 !important;

      li {
        list-style: none;

        a {
          color: #fff;
          font-weight: 300;
          line-height: 30px;/* Approximation due to font substitution */
        }
      }
    }
  }

  .banners {
    margin-top: 20px;
    border-width: 1px 0 1px 0;
    border-color: #494947;
    border-style: solid;
    max-height: 80px;

    .col {
      vertical-align: middle;

      img {
        margin-top: 10px;
      }

      &:first-child img {
        margin-top: 30px;
      }

      &:last-child img {
        margin-top: 20px;
      }
    }
  }

  .copyright {
    margin-top: 25px;

    .lm {
      a {
        color: #fff;
        display: inline-block;
        padding: 5px;
        border: 1px #fff solid;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 11px;
      }
    }

    .cp {
      text-align: center;
      font-size: 11px;
      line-height: 30px;
    }
  }
}
