$font-color-index: #fff;
$font-color-standard: #000;

.current_page_item a {
  border-bottom: 4px $font-color-index solid;
}

.header__index {
  position: relative;
  margin: 0 auto;
  padding: 40px 120px 0 120px;
  background: rgb(0, 78, 185);
  color: #fff;
  height: 760px;

  &__nav {
    position: absolute;
    float: right;
    right: 120px;
    top: 70px;

    a {
      color: $font-color-index;
    }
  }

  &__info {
    position: absolute;
    right: 120px;
    top: 30px;

    &__search {
      position: relative;
      margin: 0 20px;
      top: -3px;
    }

    &__lang {
      background-color: rgba(255, 255, 255, 0.2);
      padding: 8px 30px 8px 20px;
      color: #fff;
      width: 90px;
      height: 30px;
      border-radius: 20px;
      background-image: url(../images/down_arrow.png);
      background-position: 85% center;
      background-repeat: no-repeat;
    }
  }

  &__slider {
    margin: 25px 0 0 0;

    &__element {
      h2 span {
        background: rgb(243, 243, 243);
        color: #000;
        font-size: 48px; /* Approximation due to font substitution */
        font-weight: 700;
        display: table;
        margin: 5px 0;
        padding: 5px;
      }

      p {
        color: #fff;
        font-size: 16px; /* Approximation due to font substitution */
        font-weight: 700;
        line-height: 24px; /* Approximation due to font substitution */
        max-width: 600px;
      }
    }
  }

  &__areas {
    &__boxes {
      margin: 30px 0 0 0;
      padding: 0;
      text-align: left;

      &__element {
        list-style: none;
        display: inline-block;
        height: 180px;
        width: 180px;
        position: relative;
        margin: 0 20px 0 0;
        color: #fff;

        &:hover {
          opacity: 0.8;
          color: #fff;
        }

        p {
          position: absolute;
          bottom: 0;
          margin: 10px;
          font-size: 14px;/* Approximation due to font substitution */
          font-weight: 700;
          max-width: 50%;
          text-transform: uppercase;
        }
      }
    }
  }
}

.header__standard {
  position: relative;
  margin: 0 auto;
  padding: 40px 120px 0 120px;
  color: $font-color-standard;
  height: 600px;
  max-height: 600px;
  display: block;

  &__nav {
    position: absolute;
    float: right;
    right: 120px;
    top: 70px;

    a {
      color: $font-color-standard;
    }

    .current_page_item a {
      border-bottom: 4px $font-color-standard solid;
    }
  }

  &__info {
    position: absolute;
    right: 120px;
    top: 30px;

    &__search {
      position: relative;
      margin: 0 20px;
      top: -3px;
    }

    &__lang {
      background-color: rgba(255, 255, 255, 0.2);
      padding: 8px 30px 8px 20px;
      color: $font-color-standard;
      width: 90px;
      height: 30px;
      border-radius: 20px;
      background-image: url(../images/down_arrow.png);
      background-position: 85% center;
      background-repeat: no-repeat;
    }
  }

  &__image {
    position: absolute;
    left: -9999px;
    right: -9999px;
    margin: -50px auto 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    height: 487px;
    width: 100%;
  }

  h1 {
    position: absolute;
    bottom: -8px;
    left: 120px;
    background: #f3f3f3;
    padding: 15px 20px 10px 20px;
    font-size: 48px;/* Approximation due to font substitution */
    font-weight: 700;
    border-bottom: #dbdbdb 6px solid;
    text-transform: uppercase;
  }
}

.banner {
  max-width: 1520px;
  margin: 0 auto;
  letter-spacing: 1px;
}

.banner .nav li {
  text-align: right;
  padding: 0 0 0 30px;
}

.banner .nav a {
  font-size: 14px; /* Approximation due to font substitution */
  font-weight: 700;
  text-align: right;
  text-transform: uppercase;
  padding: 0 0 4px 0;
}

.brand {
  position: relative;
  z-index: 9999;
}
