main {
  font-size: 14px;

  #breadcrumbs {
    margin: 20px 0 30px 0;
    padding-bottom: 20px;
    border-bottom: 1px #e6e6e6 solid;

    a {
      color: #000;
      font-size: 14px;/* Approximation due to font substitution */
      font-weight: 300;
      line-height: 24px;/* Approximation due to font substitution */
      text-align: left;
    }

    .breadcrumb_last {
      color: #818996;
      font-size: 14px;/* Approximation due to font substitution */
      font-weight: 300;
      line-height: 24px;/* Approximation due to font substitution */
      text-align: left;
    }
  }

  .stretch_box {
    min-height: 340px;
    padding: 0;
  }

  .info-box {
    min-height: 420px;
    padding: 35px 45px;
    font-size: 14px;
    line-height: 24px;

    @include media-breakpoint-up(md) {
      margin-top: -220px;
    }

    &__1 {
      color: #fff;
    }

    h3 {
      margin-bottom: 25px;
      font-size: 24px;
    }
  }

  .box--m10 {
    @include media-breakpoint-up(md) {
      padding-right: 10px !important;
    }
  }

  .purple-list ul {
    padding: 0;
    margin: 0;
  }

  .purple-list li {
    list-style-type: none;
    margin: 0;
  }

  .purple-list li::before {
    content: "•";
    margin-right: 10px;
    line-height: 8px;
    font-size: 25px;
    color: #853375; /* or whatever color you prefer */
  }

  .about-projects {
    @include media-breakpoint-up(md) {
      margin-top: -200px;
      margin-bottom: 20px;
    }
  }
}
