$iscss-font-path: "../fonts/";

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url($iscss-font-path+"Montserrat-Regular.otf");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url($iscss-font-path+"Montserrat-SemiBold.otf");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url($iscss-font-path+"Montserrat-Bold.otf");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url($iscss-font-path+"Montserrat-Light.otf");
}
