body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: 0;
  margin: 0;
  height: 100%;
}

.wrap {
  max-width: 1520px;
  margin: 0 auto;

  @include media-breakpoint-up(md) {
    padding: 0 120px;
  }
}

